{% comment %}
    Renders a custom checkbox.
    Accepts:
    - id: {String}.
    - class: {String}
    - name: {String}
    - value: {Object} (should contain active, count, label properties )
    - disabled {Boolean}
    - input_class: {String{}}

    Usage:
        {% render 'checkbox',
            id: Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}
            class: mobile-facets__label{% if value.count == 0 and value.active == false %} mobile-facets__label--disabled{% endif %}
            value: value
        %}
{% endcomment %}
<label for="{{ id }}" class="checkable__tick{% if class != blank %} {{class}}{% endif %} {% if disabled %} disabled{% endif %}">
    <input
        type="checkbox"
        name="{{ value.param_name }}"
        value="{{ value.value }}"
        id="{{ id }}"
        class="{{ input_class }}"
        {% if value.active %}
            checked
        {% endif %}
        {% if disabled %}
            disabled
        {% endif %}
    >
    {% render 'icon-tick' %}

    <span aria-hidden="true">{{ value.label | escape }} ({{ value.count }})</span>
    <span class="visually-hidden">
        {{- value.label | escape }} (
            {%- if value.count == '1' -%}
                {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
            {%- else -%}
                {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
            {%- endif -%}
        )</span>
</label>