{% comment %}
Renders an input field with a floating label

Accepts:
- type: {String} Optional input type (if blank, defaults to "text")
- id: {String} Input field ID
- name: {String} Input field name
- value: Optional autocapitalize value
- autocapitalize: {String} Optional autocapitalize value
- autocomplete: {String} Optional autocomplete value
- placeholder: {String} Optional placeholder text
- text: {String}
- additional_attributes: {String} Optional data attributes
- required: {Boolean} Set the required state of the input and output an * if required
- options: Select list values
- error_message: {String} Optional
- include_error_placeholder: {Boolean} Optional, used to output a hidden placeholder element if needed for js validation

Usage:
    {% assign value = form.zip %}
    {% assign label = 'customer.addresses.zip' | t  %}
    {% assign id = 'AddressZip_' | append: form.id  %}

    {% render 'field-with-float-label'
        type: "text",
        id: "AddressZipNew",
        name:"address[zip]",
        value: value,
        autocapitalize: "characters",
        autocomplete:"postal-code",
        placeholder: label,
        label: label
    %}
{% endcomment %}
{% assign class = 'field__input' %}
{% assign type = type | downcase %}

<div class="field {%- if error_message != blank %} status-error {% endif %} js-field">
    {%- if type == 'select' -%}
        <select
            class="{{ class }}"
            id="{{ id }}"
            {%- if name != blank -%} name="{{ name }}" {%- endif -%}
            {%- if value != blank -%} value="{{ value }}" data-default="{{ value }}" {%- endif -%}
            {%- if autocomplete != blank -%} autocomplete="{{ autocomplete }}" {%- endif -%}
            {{ additional_attributes }}
        >
            {{ options }}
        </select>
    {%- elsif type == 'textarea' -%}
        <textarea
            class="{{ class }}"
            id="{{ id }}"
            {%- if name != blank %} name="{{ name }}" {% endif -%}
            {%- if required %} aria-required="true" required {% endif -%}
            {%- if autocapitalize != blank %} autocapitalize="{{ autocapitalize }}" {% endif -%}
            {%- if autocomplete != blank %} autocomplete="{{ autocomplete }}" {% endif -%}
            {%- if placeholder != blank %} placeholder="{{ placeholder }}" {% endif %}
            {{ additional_attributes }}
        >{{ value }}</textarea>
    {% else %}
        <input
            class="{{ class }}"
            type="{%- if type != blank -%}{{ type}}{%- else -%}text{%- endif -%}"
            id="{{ id }}"
            {%- if name != blank %} name="{{ name }}" {% endif -%}
            {%- if value != blank -%} value="{{ value }}" {%- endif -%}
            {%- if required %} aria-required="true" required {% endif -%}
            {%- if autocapitalize != blank %} autocapitalize="{{ autocapitalize }}" {% endif -%}
            {%- if autocomplete != blank %} autocomplete="{{ autocomplete }}" {% endif -%}
            {%- if placeholder != blank %} placeholder="{{ placeholder }}" {% endif %}
            {{ additional_attributes }}
        >
    {%- endif -%}

    <label class="field__label" for="{{ id }}">
        {{ label }}
        {%- if required -%} <abbr class="field__required" title="Required">*</abbr> {%- endif -%}
    </label>

{%- if error_message != blank %}
    {% capture error_id %}"{{id}}-error"{% endcapture %}
    {%- render 'form-field-error', id: error_id, field_name: name, message: error_message -%}
{%- elsif include_error_placeholder %}
    {%- render 'form-field-error', placeholder: true, id: id -%}
{% endif %}
</div>