{% comment %}
    Renders gift card recipient form.
    Accepts:
    - product: {Object} product object.
    - form: {Object} the product form object.
    - section: {Object} section to which this snippet belongs.

    Usage:
    {% render 'gift-card-recipient-form', product: product, form: form, section: section %}
{% endcomment %}

{{ 'gift-card-recipient-form.css' | asset_url | stylesheet_tag }}

<div class="pg-customer">
    {%- assign gift_card_recipient_control_flag = 'properties[__shopify_send_gift_card_to_recipient]' -%}
    <script src="{{ 'recipient-form.js' | asset_url }}" defer="defer"></script>

    <recipient-form
        class="recipient-form"
        data-section-id="{{ section.id }}"
        data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
    >
        <label class="recipient-checkbox checkable__tick" for="Recipient-checkbox-{{ section.id }}">
            <input
                id="Recipient-checkbox-{{ section.id }}"
                type="checkbox"
                name="{{ gift_card_recipient_control_flag }}"
                disabled
            >
            {% render 'icon-tick' %}
            <span class="checkable__highlight-text">
                {{ 'recipient.form.checkbox' | t }}
            </span>
        </label>

        <div
            id="product-form__recipient-error-message-wrapper"
            class="form__message status-error"
            role="alert"
            {% unless form.errors %}
                hidden
            {% endunless %}
        >
            <h6 class="form__status-heading" role="alert" tabindex="-1" autofocus>
                {% render 'icon-error' %}
                <span class="error-message js-error-message">{{ 'templates.contact.form.error_heading' | t }}</span>
            </h6>

            <ul class="form__status-list js-error-message-list">
                {%- if form.errors -%}
                {%- for field in form.errors -%}
                    <li>
                    {%- if field == 'form' -%}
                        {{ form.errors.messages[field] }}
                    {%- else -%}
                        <a href="#Recipient-{{ field }}-{{ section.id }}">
                        {{ form.errors.messages[field] }}
                        </a>
                    {%- endif -%}
                    </li>
                {%- endfor -%}
                {%- endif -%}
            </ul>
        </div>
        <p
            id="Recipient-fields-live-region-{{ section.id }}"
            class="visually-hidden"
            role="status"
        ></p>

        <fieldset class="recipient-fields">
            {% assign label =  'recipient.form.email_label' | t %}
            {% assign id = 'Recipient-email-' | append: section.id  %}
            {% assign placeholder = 'recipient.form.email' | t  %}
            {% capture additional_attributes %}{% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="{{id}}-error"
            {% endif %}{% endcapture %}
            {% capture error_message %}{%- if form.errors contains 'email' -%}{{form.errors.messages.email}}{% endif %}{% endcapture %}
            {% render 'field-with-float-label'
                type: "email",
                id: id,
                name: "properties[Recipient email]",
                value: form.email,
                placeholder: placeholder,
                additional_attributes: additional_attributes,
                label: label,
                required: true,
                error_message: error_message,
                include_error_placeholder: true
            %}


            {% assign label =  'recipient.form.name_label' | t %}
            {% assign id = 'Recipient-name-' | append: section.id  %}
            {% assign placeholder = 'recipient.form.name' | t  %}
            {% capture additional_attributes %}autocomplete="name" {% if form.errors contains 'name' %}
            aria-invalid="true"
            aria-describedby="{{id}}-error"{% endif %}{% endcapture %}
            {% capture error_message %}{%- if form.errors contains 'name' -%}{{form.errors.messages.name}}{% endif %}{% endcapture %}
            {% render 'field-with-float-label'
                id: id,
                name: "properties[Recipient name]",
                value: form.name,
                placeholder: placeholder,
                additional_attributes: additional_attributes,
                label: label,
                error_message: error_message,
                include_error_placeholder: true
            %}


            <div id="RecipientForm-message-{{ section.id }}" class="recipient-fields__field">
                {%- assign max_chars_message = 200 -%}
                {%- assign max_chars_message_rendered = 'recipient.form.max_characters' | t: max_chars: max_chars_message -%}
                {%- assign message_label_rendered = 'recipient.form.message_label' | t -%}

                {% assign value = form.message %}
                {% assign id = 'Recipient-message-' | append: section.id  %}
                {% assign placeholder = 'recipient.form.message' | t  %}

                {% capture additional_attributes %}rows="6" maxlength="{{ max_chars_message }}" aria-label="{{ message_label_rendered }} {{ max_chars_message_rendered }}" {% if form.errors contains 'message' %}
                aria-invalid="true"
                aria-describedby="{{id}}-error"{% endif %}{% endcapture %}
                {% capture error_message %}{%- if form.errors contains 'body' -%}{{form.errors.messages.body}}{% endif %}{% endcapture %}

                {% render 'field-with-float-label'
                    type: "textarea",
                    id: id,
                    name: "properties[Message]",
                    value: value,
                    placeholder: placeholder,
                    additional_attributes: additional_attributes,
                    label: message_label_rendered,
                    error_message: error_message,
                    include_error_placeholder: true
                %}

                <div class="field__maxchars">{{ max_chars_message_rendered }}</div>
            </div>


            {% assign label =  'recipient.form.send_on_label' | t %}
            {% assign id = 'Recipient-send-on-' | append: section.id  %}
            {% assign placeholder = 'recipient.form.send_on' | t  %}
            {% capture additional_attributes %}onfocus="this.showPicker()" autocomplete="send_on" pattern="\d{4}-\d{2}-\d{2}" {% if form.errors contains 'send_on' %}
            aria-invalid="true"
            aria-describedby="{{id}}-error"{% endif %}{% endcapture %}
            {% capture error_message %}{%- if form.errors contains 'send_on' -%}{{form.errors.messages.send_on}}{% endif %}{% endcapture %}
            {% render 'field-with-float-label'
                type: "date",
                id: id,
                name: "properties[Send on]",
                value: form.send_on,
                placeholder: placeholder,
                additional_attributes: additional_attributes,
                label: label,
                error_message: error_message,
                include_error_placeholder: true
            %}
        </fieldset>

        <input
            type="hidden"
            name="{{ gift_card_recipient_control_flag }}"
            value="if_present"
            id="Recipient-control-{{ section.id }}"
        >
        <input
            type="hidden"
            name="properties[__shopify_offset]"
            value=""
            id="Recipient-timezone-offset-{{ section.id }}"
            disabled
        >
    </recipient-form>
</div>
