<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Questrial&display=swap" rel="stylesheet">

    {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {%- if settings.animations_reveal_on_scroll -%}
        <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {{ content_for_header }}

    {%- render 'theme-setup' settings: settings -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'core.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
        {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
        <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.predictive_search_enabled -%}
        <link
            rel="stylesheet"
            href="{{ 'component-predictive-search.css' | asset_url }}"
            media="print"
            onload="this.media='all'"
        >
    {%- endif -%}

        <script>
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
            if (Shopify.designMode) {
                document.documentElement.classList.add('shopify-design-mode');
            }
        </script>
    </head>

    <body class="site-outer {% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}">
        {% render 'svg-defs' %}

        <a class="skip-to-content-link button visually-hidden" href="#MainContent">
            {{ 'accessibility.skip_to_text' | t }}
        </a>

        {%- if settings.cart_type == 'drawer' -%}
        {%- render 'cart-drawer' -%}
        {%- endif -%}

        {% sections 'header-group' %}

        <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
            <div id="shopify-section-template--20955328545089__main" class="shopify-section"><link href="//quickstart-d226f5a5.myshopify.com/cdn/shop/t/6/assets/customer.css?v=49126796050629541761700502046" rel="stylesheet" type="text/css" media="all">
                <style data-shopify="">.section-template--20955328545089__main-padding {
                    padding-top: 27px;
                    padding-bottom: 27px;
                  }

                  @media screen and (min-width: 750px) {
                    .section-template--20955328545089__main-padding {
                      padding-top: 36px;
                      padding-bottom: 36px;
                    }
                  }</style><div class="customer order section-template--20955328545089__main-padding  default-content-style customer__page-content content-padding-inline page-width page-width--medium">
                  <svg style="display:none">
                    <symbol id="icon-discount" viewBox="0 0 12 12">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor">
                    </path></symbol>
                  </svg>
                    <header class="customer__header">
                            <h1 class="customer__title">Account</h1>
                            <a class="draw-icon" style="--rotate-icon: 180" href="/account">{% render 'icon-arrow' %} Return to Account details</a>
                    </header>

                      <h3>Order #1011</h3>
                      <p>Placed on <time datetime="2023-11-21T11:16:24Z">November 21, 2023 at 6:16 am</time></p>

                      <table role="table" class="order-details">
                        <caption class="visually-hidden">
                          Order #1011
                        </caption>
                        <thead role="rowgroup">
                          <tr role="row">
                            <th id="ColumnProduct" scope="col" role="columnheader">Product</th>
                            <th id="ColumnSku" scope="col" role="columnheader">SKU</th>
                            <th id="ColumnPrice" scope="col" role="columnheader">Price</th>
                            <th id="ColumnQuantity" scope="col" role="columnheader">Quantity</th>
                            <th id="ColumnTotal" scope="col" role="columnheader">Total</th>
                          </tr>
                        </thead>
                        <tbody role="rowgroup"><tr role="row">
                              <td id="Row14379715592513" headers="ColumnProduct" role="rowheader" scope="row" data-label="Product">
                                <div><a class="order-details-product" href="/products/the-collection-snowboard-liquid?variant=46411082236225">2020 Yarra Valley Pinot Noir</a><div class="fulfillment"><strong>Fulfilled <time datetime="2023-11-21T11:17:27Z">November 21, 2023</time></strong><a class="button--plain draw-icon icon-sm" style="--rotate-icon: 270;"  href="https://www.tnt.com/express/en_us/site/tracking.html?searchType=con&amp;cons=12345678">
                                    Guangdong Weisuyi Information Technology (WSE) #GW1234 <span class="underline-on-hover">Track shipment</span>  {% render 'icon-caret' %}
                                        </a>
                                    </div></div>
                              </td>
                              <td headers="Row14379715592513 ColumnSku" role="cell" data-label="SKU">

                              </td>
                              <td headers="Row14379715592513 ColumnPrice" role="cell" data-label="Price"><span>£15.00</span></td>
                              <td headers="Row14379715592513 ColumnQuantity" role="cell" data-label="Quantity">
                                1
                              </td>
                              <td headers="Row14379715592513 ColumnTotal" role="cell" data-label="Total">£15.00
                </td>
                            </tr><tr role="row">
                              <td id="Row14379715625281" headers="ColumnProduct" role="rowheader" scope="row" data-label="Product">
                                <div>
                                    <a href="/products/the-collection-snowboard-oxygen?variant=46411082203457">2020 Alpine Valley Pinot Noir</a>
                                    <div class="fulfillment"><strong class="highlight">Fulfilled <time datetime="2023-11-21T11:17:27Z">November 21, 2023</time></strong>



                                        <a class="button--plain draw-icon icon-xs" style="--rotate-icon: 270;" href="https://www.tnt.com/express/en_us/site/tracking.html?searchType=con&amp;cons=12345678">
                                            TNT #12345678 <span class="underline-on-hover">Track shipment</span> {% render 'icon-caret' %}
                                        </a>
                                    </div></div>
                              </td>
                              <td headers="Row14379715625281 ColumnSku" role="cell" data-label="SKU">

                              </td>
                              <td headers="Row14379715625281 ColumnPrice" role="cell" data-label="Price"><span>£21.00</span></td>
                              <td headers="Row14379715625281 ColumnQuantity" role="cell" data-label="Quantity">
                                2
                              </td>
                              <td headers="Row14379715625281 ColumnTotal" role="cell" data-label="Total">£42.00
                </td>
                            </tr></tbody>
                        <tfoot role="rowgroup">
                          <tr role="row">
                            <th id="RowSubtotal" role="rowheader" scope="row" colspan="3">
                              Subtotal
                            </th>
                            <td headers="RowSubtotal" role="cell" colspan="2" data-label="Subtotal">
                              £57.00
                            </td>
                          </tr><tr role="row">
                              <th id="RowShipping" role="rowheader" scope="row" colspan="3">
                                Shipping (Standard)
                              </th>
                              <td headers="RowShipping" role="cell" colspan="2" data-label="Shipping (Standard)">
                                £0.00
                              </td>
                            </tr>
                            <tr class="order-details__grand-total" role="row">
                            <th id="RowTotal" role="rowheader" scope="row" colspan="3">Total</th>
                            <td headers="RowTotal" role="cell" colspan="2" data-label="Total">
                              £67.19 GBP
                            </td>
                          </tr>
                        </tfoot>
                      </table>


                        <h2>Billing Address</h2>
                        <p>
                          <strong>Payment Status:</strong>
                          Paid
                        </p>
                        <p>Yertle Theturtle<br>Company Name<br>Address line 1<br>Address line 2<br>Oxford OX2 0DE<br>United Kingdom</p>

                        <h2>Shipping Address</h2>
                        <p>
                          <strong>Fulfillment Status:</strong>
                          Fulfilled
                        </p>
                        <p>Yertle Theturtle<br>Company Name<br>Address line 1<br>Address line 2<br>Oxford OX2 0DE<br>United Kingdom</p>


                </div>






            {{ content_for_layout }}
        </main>

        {% sections 'footer-group' %}

        <ul hidden>
            <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
            <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
        </ul>

        <script>
            window.shopUrl = '{{ request.origin }}';
            window.routes = {
                cart_add_url: '{{ routes.cart_add_url }}',
                cart_change_url: '{{ routes.cart_change_url }}',
                cart_update_url: '{{ routes.cart_update_url }}',
                cart_url: '{{ routes.cart_url }}',
                predictive_search_url: '{{ routes.predictive_search_url }}',
            };

            window.cartStrings = {
                error: `{{ 'sections.cart.cart_error' | t }}`,
                quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
            };

            window.variantStrings = {
                addToCart: `{{ 'products.product.add_to_cart' | t }}`,
                soldOut: `{{ 'products.product.sold_out' | t }}`,
                unavailable: `{{ 'products.product.unavailable' | t }}`,
                unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
            };

            window.quickOrderListStrings = {
                itemsAdded: `{{ 'sections.quick_order_list.items_added.other' | t: quantity: '[quantity]' }}`,
                itemAdded: `{{ 'sections.quick_order_list.items_added.one' | t: quantity: '[quantity]' }}`,
                itemsRemoved: `{{ 'sections.quick_order_list.items_removed.other' | t: quantity: '[quantity]' }}`,
                itemRemoved: `{{ 'sections.quick_order_list.items_removed.one' | t: quantity: '[quantity]' }}`,
                viewCart: `{{- 'sections.quick_order_list.view_cart' | t -}}`,
                each: `{{- 'sections.quick_order_list.each' | t: money: '[money]' }}`,
            };

            window.accessibilityStrings = {
                imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
                shareSuccess: `{{ 'general.share.success_message' | t }}`,
                pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
                playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
                recipientFormExpanded: `{{ 'recipient.form.expanded' | t }}`,
                recipientFormCollapsed: `{{ 'recipient.form.collapsed' | t }}`,
            };
        </script>

        {%- if settings.predictive_search_enabled -%}
        <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
        {%- endif -%}
    </body>
    </html>
