{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
            padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
  }
{%- endstyle -%}

<div class="contact color-{{ section.settings.section_color_scheme }} background-{% if section.settings.background_transparent %}transparent {% else %}theme {% endif %} section-{{ section.id }}-padding isolate">

    <div class="postcard-container">
        {%- capture postcard_color_scheme -%}color-{{ section.settings.content_color_scheme }}{% endcapture %}
        {%- liquid
            assign scroll_classes = ''
            if settings.animations_reveal_on_scroll
                assign scroll_classes = 'scroll-trigger animate--slide-in'
            endif
        -%}
        {%- capture contact_form_class -%} postcard {{ postcard_color_scheme }} {{ scroll_classes }}{% endcapture %}

        {%- if section.settings.secondary_image != blank -%}
            <div class="postcard__reverse-face">
                {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) 1200px,
                    800px
                {%- endcapture -%}
                {{
                    section.settings.secondary_image
                    | image_url: width: 1200
                    | image_tag: loading: 'lazy', sizes: sizes, aspect_ratio: 1.5
                }}
            </div>
        {%- endif -%}

        {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
            {%- if section.settings.heading != blank -%}
                <h2 class="postcard-title inline-richtext {{ section.settings.heading_size }}">
                    {{ section.settings.heading }}
                </h2>
            {%- else -%}
            <h1 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h1>
            {%- endif -%}
            <fieldset class="contact__fields">
                <div class="field">
                    <input
                        class="field__input"
                        autocomplete="name"
                        type="text"
                        id="ContactForm-name"
                        name="contact[{{ 'templates.contact.form.name' | t }}]"
                        value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                        placeholder="{{ 'templates.contact.form.name' | t }}"
                    >
                    <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
                </div>
                <div class="field {% if form.errors contains 'email' %}status-error{% endif %}">
                    <input
                        autocomplete="email"
                        type="email"
                        id="ContactForm-email"
                        class="field__input"
                        name="contact[email]"
                        spellcheck="false"
                        autocapitalize="off"
                        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="ContactForm-email-error"
                        {% endif %}
                        placeholder="{{ 'templates.contact.form.email' | t }}"
                    >
                    <label class="field__label" for="ContactForm-email">
                        {{- 'templates.contact.form.email' | t }}
                        <abbr class="field__required" title="Required">*</abbr>
                    </label>
                </div>

                {%- if form.errors contains 'email' -%}
                    {%- render 'form-field-error', id: 'ContactForm-email-error', field_name: form.errors.translated_fields.email, message: form.errors.messages.email -%}
                {%- endif -%}
                <div class="field">
                    <input
                    type="tel"
                    id="ContactForm-phone"
                    class="field__input"
                    autocomplete="tel"
                    name="contact[{{ 'templates.contact.form.phone' | t }}]"
                    pattern="[0-9\-]*"
                    value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                    placeholder="{{ 'templates.contact.form.phone' | t }}"
                    >
                    <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
                </div>
                <div class="field">
                    <textarea
                        rows="6"
                        id="ContactForm-body"
                        class="text-area field__input"
                        name="contact[{{ 'templates.contact.form.comment' | t }}]"
                        placeholder="{{ 'templates.contact.form.comment' | t }}"
                    >
                    {{- form.body -}}
                    </textarea>
                    <label class="form__label field__label" for="ContactForm-body">
                        {{- 'templates.contact.form.comment' | t -}}
                    </label>
                </div>
            </fieldset>

            <fieldset class="contact__submit">
                {%- if section.settings.stamp_image != blank -%}
                    <div class="postage-stamp postage-stamp--{%- if section.settings.stamp_image.aspect_ratio < 1 -%}portrait{%- elsif section.settings.stamp_image.aspect_ratio > 1 -%}landscape{%- else -%}square{%- endif -%}">
                        {%- capture sizes -%}
                            (min-width: {{ settings.page_width }}px) {%- if section.settings.stamp_image.aspect_ratio < 1 -%}200{%- else -%}300{%- endif -%}px,
                            {%- if section.settings.stamp_image.aspect_ratio < 1 -%}133{%- else -%}200{%- endif -%}px
                        {%- endcapture -%}
                        {{ section.settings.stamp_image
                            | image_url: width: 300
                            | image_tag: loading: 'lazy', sizes: sizes, aspect_ratio: 1.5
                        }}
                    </div>
                {%- endif -%}
                {%- if form.posted_successfully? -%}
                    <div class="form__message status-success">
                        <h6 class="form__status-heading" tabindex="-1" autofocus>
                            {{ 'templates.contact.form.post_success' | t }}
                        </h6>
                    </div>
                {%- elsif form.errors -%}
                    <div class="form__message status-error">
                        <h6 class="form__status-heading" role="alert" tabindex="-1" autofocus>
                            {% render 'icon-error' %}
                            {{ 'templates.contact.form.error_heading' | t }}
                        </h6>
                        <ul class="form__status-list" role="list">
                            <li>
                                <a href="#ContactForm-email">
                                {{ form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email }}
                                </a>
                            </li>
                        </ul>
                    </div>
                {%- endif -%}

                <div class="contact__store-message inline-richtext">
                    {%- if section.settings.store_message != blank -%}
                        <p>{{ section.settings.store_message }}</p>
                    {%- endif -%}
                        <div class="contact__store-details">
                            {%- if section.settings.show_store_name or section.settings.show_store_contact_information -%}
                                <address>
                                    {%- if section.settings.show_store_name -%}
                                        {{ shop.name }}<br>
                                    {%- endif -%}
                                    {%- if section.settings.show_store_contact_information -%}
                                        {{ shop.address | format_address }}
                                    {%- endif -%}
                                </address>

                                <!-- {%- if section.settings.show_store_contact_information -%}
                                    <p>{{ shop.phone }}</p>
                                {%- endif -%} -->
                            {%- endif -%}
                        </div>
                </div>

                <button type="submit" class="button button--secondary">
                    {{ 'templates.contact.form.send' | t }}
                </button>
            </fieldset>
        {%- endform -%}
    </div>
</div>

{% schema %}
{
    "name": "t:sections.contact-form.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "t:sections.all.heading.label"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
                {
                    "value": "h5",
                    "label": "t:sections.all.heading_size.options__1.label"
                },
                {
                    "value": "h3",
                    "label": "t:sections.all.heading_size.options__2.label"
                },
                {
                    "value": "h2",
                    "label": "t:sections.all.heading_size.options__3.label"
                }
            ],
            "default": "h3",
            "label": "t:sections.all.heading_size.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.colors.heading"
        },
        {
            "type": "color_scheme",
            "id": "section_color_scheme",
            "label": "t:settings_schema.colors.settings.container_color_scheme.label",
            "default": "inverse"
        },
        {
            "type": "checkbox",
            "id": "background_transparent",
            "default": true,
            "label": "t:settings_schema.colors.settings.background_transparent.label"
        },
        {
            "type": "color_scheme",
            "id": "content_color_scheme",
            "label": "t:settings_schema.colors.settings.content_color_scheme.label",
            "default": "background-1"
        },
        {
            "type": "header",
            "content": "t:sections.all.content.heading"
        },
        {
            "type": "inline_richtext",
            "id": "store_message",
            "label": "t:sections.contact-form.settings.store_message.label",
            "default": "To:"
        },
        {
            "type": "checkbox",
            "id": "show_store_name",
            "default": true,
            "label": "t:sections.contact-form.settings.show_store_name.label"
        },
        {
            "type": "checkbox",
            "id": "show_store_contact_information",
            "default": true,
            "label": "t:sections.contact-form.settings.show_store_contact_information.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.images.heading"
        },
        {
            "type": "image_picker",
            "id": "stamp_image",
            "label": "t:sections.contact-form.settings.stamp_image.label"
        },
        {
            "type": "image_picker",
            "id": "secondary_image",
            "label": "t:sections.contact-form.settings.secondary_image.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 32
        }
    ],
    "presets": [
        {
            "name": "t:sections.contact-form.presets.name"
        }
    ]
}
{% endschema %}