{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="pg-customer register section-{{ section.id }}-padding page-width">
    <header class="title-wrapper align-{{ settings.title_alignment }}">
        <h1 class="title texture-{{ settings.title_style }} color-{{ settings.title_color_scheme }}">
            {{ 'customer.register.title' | t }}
        </h1>
    </header>

    <section class="customer__page-content default-content-style content-padding-med">
        {%- form 'create_customer', novalidate: 'novalidate' -%}
            {%- if form.errors -%}
                <div
                    class="form__message status-error"
                    role="alert"
                    tabindex="-1" autofocus
                    {% unless form.errors %}
                        hidden
                    {% endunless %}
                >
                    <h6 class="form__status-heading">
                        {% render 'icon-error' %}
                        {{ 'templates.contact.form.error_heading' | t }}
                    </h6>

                    <ul class="form__status-list">
                        {%- for field in form.errors -%}
                        <li>
                            {%- if field == 'form' -%}
                            {{ form.errors.messages[field] }}
                            {%- else -%}
                            <a href="#RegisterForm-{{ field }}">
                                {{ form.errors.translated_fields[field] | capitalize }}
                                {{ form.errors.messages[field] }}
                            </a>
                            {%- endif -%}
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
            {%- endif -%}

            {% assign label =  'customer.register.first_name' | t %}
            {% capture additional_attributes %}autocomplete="given-name"{% endcapture %}
            {% render 'field-with-float-label'
                id: "RegisterForm-FirstName",
                name: "customer[first_name]",
                value: form.first_name,
                placeholder: label,
                additional_attributes: additional_attributes,
                label: label
            %}

            {% assign label =  'customer.register.last_name' | t %}
            {% capture additional_attributes %}autocomplete="family-name"{% endcapture %}
            {% render 'field-with-float-label'
                id: "RegisterForm-LastName",
                name: "customer[last_name]",
                value: form.last_name,
                placeholder: label,
                additional_attributes: additional_attributes,
                label: label
            %}

            {% assign label =  'customer.register.email' | t %}
            {% capture additional_attributes %}spellcheck="false" autocapitalize="off" autocomplete="email" aria-required="true" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="RegisterForm-email-error" {% endif %}{% endcapture %}
            {% capture error_message %}{%- if form.errors contains 'email' -%}{{ form.errors.translated_fields.email | capitalize }} {{ form.errors.messages.email }}{% endif %}{% endcapture %}
            {% render 'field-with-float-label'
                id: "RegisterForm-LastName",
                type: "email",
                name: "customer[email]",
                value: form.email,
                placeholder: label,
                additional_attributes: additional_attributes,
                label: label,
                error_message: error_message
            %}

            {% assign label =  'customer.register.password' | t %}
            {% capture additional_attributes %}aria-required="true" {% if form.errors contains 'password' %} aria-invalid="true" aria-describedby="RegisterForm-password-error" {% endif %}{% endcapture %}
            {% capture error_message %}{%- if form.errors contains 'password' -%}{{ form.errors.translated_fields.password | capitalize }} {{ form.errors.messages.password }}{% endif %}{% endcapture %}
            {% render 'field-with-float-label'
                id: "RegisterForm-password",
                type: "password",
                name: "customer[password]",
                placeholder: label,
                additional_attributes: additional_attributes,
                label: label,
                error_message: error_message
            %}

            <button class="button button--secondary button--wide button--center">
                {{ 'customer.register.submit' | t }}
            </button>
        {%- endform -%}
    </section>
</div>

{% schema %}
{
    "name": "t:sections.main-register.name",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ]
}
{% endschema %}
